.heading{
    font-size: 3em;
}

.form{
    margin:auto;
    width: 80%;
    margin-top: 40%;
    border: none!important;   


}

.container{
        width: 50%!important;
        height: 40%!important;
        border: none!important;
}