.container {
  /* important because '.container' is a bootstrap class */ 
  width: 100%!important;
  height: 100%;
  margin: 1px;
  border: 2px solid grey;
}

.banner_img_container {
  height: 100%;
  width: 100%;

}

.banner_img{
  height: 100%;
  width: 100%;
}


.profil_pic_container{
  background-color: white;
  margin: -5% 0% 0% 0%!important;
  width: 8%!important;
  height: 10%!important;
  border-radius: 50%!important;
  position: absolute!important;
}


.profil_pic {
  margin-left: -50%!important;
  background-color: blue!important;
  width: 100%!important;
  height: 100%!important;
  border-radius: 50%!important;
  position: absolute!important;
}


.credentials_container{
  height: 100%;
  width: 100%;
}

.user_name_informations {
  margin-left: -78%!important;

}

.biography_container {  
  margin-top: -25%;
  max-width: 70%!important;
  max-height: 55%;
  width: 70%;
  margin-left: 25%;
}

.biography_data{
  font-size: 14px!important;
  max-height: 55%!important;
}

.username {
  margin-top: 3%!important;
}

.followers{
  font-size: 13px!important;
  font-weight: bold!important;
}


/* media queries for responsive design */ 

@media screen and (min-width: 300px) and (max-width: 940px) {
  #left_column{
    display: none!important;
  }

  #right_column {
    display: none!important;
  }

  .credentials_container{
    background-color: purple;
  }

.username {
    margin-top: 18%!important;
  }
}



@media screen and (min-width: 940px) and (max-width: 1170px) {
  .biography_data{
    font-size: 11px!important;
  }
  .followers{
    font-size: 10px!important;
  }

  .credentials_container{
    background-color: orange;
  }

  .username {
    margin-top: 9%!important;
  }

  .biography_container {  
    margin-top: -30%;
  }
}


@media screen and (min-width: 1170px) and (max-width: 1450px) {
  .biography_data{
    font-size: 12px!important;
  }
  .followers{
    font-size: 11px!important;
  }

  .credentials_container{
    background-color: yellow;
  }

  .username {
    margin-top: 5%!important;
  }

  .biography_container {  
    margin-top: -25%;
  }
}



@media screen and (min-width: 1450px) and (max-width: 1895px) {
  .profil_pic_container{
    margin: -4% 0% 0% 0%!important;
  }
  .credentials_container{
    background-color: pink;
  }
  
.username {
  margin-top: 5%!important;
}

  .biography_container {  
    margin-top: -20%;
  }
}


@media screen and (min-width: 1895px) and (max-width: 2540px) {
  .credentials_container{
    background-color: green;
  }
  .biography_container {  
    margin-top: -14%;
  }

.profil_pic_container{
  margin: -3% 0% 0% 0%!important;
}



}

