.container {
  width: 100%;
  height: 100%;
  margin: 1px;
  border: 2px solid grey;
}


.banner_img_container {
  width: 100%;
  margin-left: 0%;
  height: 90%;
  position: relative;
}


.banner_img{
  width: 100%;
  height: 100%;
  margin-left: -2%;
  height: 60%;
  position: relative;
}


.profil_pic_container{
  background-color: blue;
  width: 10%;
  height: 20%;
  margin-top: -12%;
  border-radius: 50%;
  margin-left: -1%;
  position: absolute;
}


.profil_pic {
  background-color: blue;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  border-radius: 50%;
  margin-left: -50%;
  position: absolute;
}


.user_name_informations {
  margin-top:-2%;
  margin-left: 2%;
  position: absolute;
}

.biography_container {  
  margin-top: -15%;
  margin-left: 10%;
  max-width: 95%!important;
  max-height: 10%;
}

.biography_data{
  background-color: purple ;
  margin-left: 25%;
  max-width: 65%!important;
  max-height: 75px;
  position: relative;
}

.displayed_name {
  margin-left: -40%;
  font-size: 18px;
  max-width: 200px;
}

.username {
    margin-left: -60%;
}